/* page.module.css */
.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.courseTitle {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 10px;
}

.courseDescription {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.lessons {
  list-style-type: none;
  padding: 0;
}

.lessonItem {
  margin-bottom: 30px;
  background-color: #444;
  border-radius: 8px;
  padding: 15px;
  color: #fff;
}

.lessonDetails {
  display: flex;
  flex-direction: column;
}

.lessonInfo {
  margin-bottom: 15px;
}

.lessonTitle {
  font-size: 1.5rem; /* Título maior */
  font-weight: bold;
  margin-bottom: 5px;
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
}

.lessonNumber {
  font-size: 1rem; /* Tamanho do número da aula */
  color: #888;    /* Cor mais suave para o número */
  margin-right: 10px;
}

.lessonDescription {
  font-size: 1rem;
  background-color: #666;
  padding: 10px;
  border-radius: 5px;
}

.videoWrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPlayer {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-color: #333;
}

.addLessonButton {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  width: 50%;
}
.generateReportLink {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.generateReportLink:hover {
  background-color: #2e6c4a;
  color: white;
}

.addLessonButton {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.addLessonButton:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex;
  justify-content: space-between; /* Espaça os botões de forma equidistante */
  width: 100%;
  gap: 10px; /* Espaço entre os botões */
  margin-top: 20px; /* Espaçamento superior */
}

